form(action='http://localhost:3000/auth/google', method='POST')
  p
    | Użytkownik:
    input.user(type='text', name='user_name')
  p
    | Hasło:
    input.password(type='text', name='password')
  input.button(type='submit', value='Submit')
