form(action='http://localhost:3000/auth/google', method='POST')
  p
    | Nazwa użytkownika:
    input.text(type='text', name='user_name')
  p
    | Hasło:
    input.text(type='text', name='password')
  input.button(type='submit', value='Submit')
